name: my-java-wf

on: push

jobs:
  build-test-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: maven
      - name: Build with Maven
        run: mvn clean test
      - name: Package JAR
        run: mvn package 
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: App
          path: App.jar
